---
import Quality from "./Quality.astro";
---

<section id="about" class="max-w-7xl mx-28 py-7">
    <section class="text-center">
        <h1 class="text-5xl font-bold pb-4">
        ¿Por qué elegir <span class="text-blue-800">KapakID</span>?
        </h1>
        <div>
        <p class="text-lg text-gray-700 mb-6 max-w-2xl mx-auto">
            Descubre cómo nuestra plataforma transforma la gestión de identidad digital
            con tecnología de vanguardia y una experiencia de usuario excepcional.
        </p>
        </div>
    </section>

    <section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-10">
        <Quality>
            <span slot="icon">
                <svg    width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-shield"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" /></svg>
            </span>
            <span slot="title">
                Seguridad
            </span>
            <span slot="description">
                Encriptacion de nivel miilitar y autenticacion biometrica para proteger tu identidad digital.
            </span>
        </Quality>

        
        <Quality>
            <span slot="icon">
                <svg   width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-bolt"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M13 3l0 7l6 0l-8 11l0 -7l-6 0l8 -11" /></svg>
            </span>
            <span slot="title">
                Rapidez
            </span>
            <span slot="description">
                Verificacion instantanea de documentos y procesos automatizados que ahorran tiempo valioso.
            </span>
        </Quality>
        
        
        <Quality>
            <span slot="icon">
                <svg  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-accessible"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M10 16.5l2 -3l2 3m-2 -3v-2l3 -1m-6 0l3 1" /><circle cx="12" cy="7.5" r=".5" fill="currentColor" /></svg>
            </span>
            <span slot="title">
                Accesibilidad
            </span>
            <span slot="description">
                Interfaz intuitiva y acceso multiplataforma para gestionar tu identidad desde cualquier lugar.
            </span>
        </Quality>
    </section>
</section>
