---
import Button from './Button.astro';
import Stats from './Stats.astro';
---

<section class="bg-gray-100">
  <section id="home" class="max-w-7xl mx-auto px-6 pt-40 pb-10 grid grid-cols-1 md:grid-cols-2 gap-10">
    
    <!-- Texto y botones -->
    <section class="flex flex-col justify-center ">
      
      <div class="border-b pb-6 md:pb-8">
        <h1 class="text-4xl md:text-6xl font-bold">Tu identidad digital</h1>

        <div class="max-w-md mt-2">
          <h1 class="text-4xl md:text-6xl text-blue-800 font-bold mb-4">más segura que nunca</h1>
          <p class="text-base md:text-lg text-gray-700 mb-6">
            KapakID revoluciona la gestión de documentos e identidad digital con tecnología de vanguardia, ofreciendo seguridad, rapidez y accesibilidad sin precedentes.
          </p>
        </div>

        <div class="flex flex-col sm:flex-row items-start sm:items-center py-2 gap-4 mt-6">
          <!-- Botón "Empieza ahora" -->
          <Button 
            href="#contacto" 
            class="bg-blue-800 text-white hover:bg-blue-700 w-full sm:w-auto flex items-center justify-center"
          >
            <span slot="before" class="px-3">Empieza ahora</span>
            <span slot="after">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icon-tabler-arrow-narrow-right">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 12l14 0" />
                <path d="M15 16l4 -4" />
                <path d="M15 8l4 4" />
              </svg>
            </span>
          </Button>

          <!-- Botón "Ver Demo" -->
          <Button 
            href="#demo" 
            class="bg-white text-blue-400 border-2 border-blue-400 hover:bg-blue-50 w-full sm:w-auto flex items-center justify-center"
          >
            <span slot="before">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icon-tabler-player-play">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 4v16l13 -8z" />
              </svg>
            </span>
            <span slot="after" class="px-3">Ver Demo</span>
          </Button>
        </div>
      </div>

      <!-- Stats -->
      <section class="flex flex-col sm:flex-row gap-4 py-6">
        <Stats>
          <span slot="number">+10K</span>
          <span slot="string">Usuarios activos</span>
        </Stats>

        <Stats>
          <span slot="number">99.9%</span>
          <span slot="string">Disponibilidad</span>
        </Stats>

        <Stats>
          <span slot="number">24/7</span>
          <span slot="string">Soporte disponible</span>
        </Stats>
      </section>

    </section>

    <!-- Imagen -->
    <section class="flex justify-center items-center py-10 md:py-20">
      <img src="https://www.shutterstock.com/image-illustration/3d-digital-padlock-over-binary-600nw-2629646037.jpg" alt="Ilustración de seguridad digital" class="w-full h-auto rounded-lg shadow-lg "/>
    </section>
    
  </section>
</section>