---
console.log('Header component loaded');
---

<header class="py-8 px-4 mx-auto max-wxl lg:py-16 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16"> 
        <h2 class="mb-4 text5xl tracking-tight font-extrabold text-indigo-600">
            KapaqID
        </h2>
    </div>
</header>