---
const { page } = Astro.props; // page será tu Markdown importado
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{page.frontmatter.title} | KapakID</title>
    <link rel="stylesheet" href="/dist/output.css" />
  </head>
  <body class="bg-gray-50 text-gray-800 font-sans leading-relaxed">


    <!-- Contenido principal -->
    <main class="max-w-4xl mx-auto p-8 bg-white shadow-lg rounded-lg mt-8 mb-12">
      <h2 class="text-3xl font-bold mb-6 text-gray-900">{page.frontmatter.title}</h2>
      <article class="prose prose-lg max-w-none">
        <page />
      </article>
    </main>



  </body>
</html>
